.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.list-none {
  list-style-type: none;
}
.px-4 {
  padding: 0 240px;
}
.text-bold {
  font-weight: 600;
}
.capitilize {
  text-transform: capitalize;
}
.text-black {
  color: #000;
}

.bg-gray {
  background: #e7e9eb;
}
.flex-1 {
  flex-grow: 1;
}

.items-center {
  align-items: center;
}
.justify-around {
  justify-content: space-around;
}
.h-4 {
  height: 50px;
}
.text-none {
  text-decoration: none;
}

.text-white {
  color: #fff;
}
.text-center {
  text-align: center;
}
.bg-dark-gray {
  background: #979899;
}
.bg-transparent {
  background-color: transparent;
}
.border {
  border: 1px solid #e7e9eb;
}
.nav-bottom-container > li > a {
  color: #fff;
  text-align: center;
}

.nav-bottom-container > li {
  border: 1px solid #e7e9eb;
  padding: 13px;
}
.h-full {
  height: 100%;
}

.absolute {
  position: absolute;
}
.navbar-container {
  height: 50vh;
  position: relative;
  background-image: url("https://c4.wallpaperflare.com/wallpaper/764/505/66/baby-groot-4k-hd-superheroes-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.navbar-container > .nav-container,
.navbar-container > .nav-bottom-container {
  position: absolute;
}
.nav-container {
  top: 0px;
  width: 100%;
}
.nav-bottom-container {
  bottom: 0;
  width: 100%;
}
